<div class="m-4 p-4 d-flex justify-content-center align-content-center">
  <div class="card w-75">
    <div class="card-header">
      Liste des Commandes du client : {{this.response!.data!.client?.firstName}} {{this.response!.data!.client?.lastName}}
    </div>
    <div class="card-body">
      <table class="table ">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <th scope="col">Montant</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
          @for (command of response!.data?.commandes; track command.id){
            <tr>
              <th scope="row">{{command.id}}</th>
              <td>{{ command.date | date:'dd/MM/yyyy' }} </td>
              <td>{{ command.montant }}</td>
              <td>
                <button class="btn btn-outline-dark">
                  Details
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
      <ism-pagination [pages]="response!.pages!" (onPageChange)="onPaginate($event)" />
    </div>
  </div>
</div>
